
body {
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 125%;
    /* background-attachment: fixed; */
    background-color: #0c122c;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
main {
    display: inline-block;
    margin-top: calc((100vh - 200px) / 2);
    width: 70%;
    height: 200px;
}


/* Left - Logo Section */
.logo_section {
    display: grid;
    box-sizing: border-box;
    float: left;
    background-color: #1D2C67;
    width: 30%;
    height: 200px;
    border-radius: 10px 100px 10px 10px;
    padding: 40px;
    
}
    .logo_section > img {
        display: inline-block;
        float: left;
    }

.icons {
    display: inline-block;
    float: left;
    margin-top: 30px;
}
    .icons > a {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 30px;
        height: 30px;
        background-color: #0c122c;
        border: 10px;
        border-radius: 10px;
        padding: 6px;
        margin-right: 15px; 
    }


/* Right - Info Section */
.info_section {
    display: grid;
    position: relative;
    align-items: flex-end;   
    float: left;
    height: 100%;
    width: 70%;
}
.info {
    display: grid;
    grid-template-rows: auto;
    justify-content: left;
    align-items: center;
    height: calc(80% - 20px);
    background-color: #1D2C67;
    border-radius: 10px;
    margin-left: 25px;
    padding: 0 40px;
    box-sizing: border-box;
}
.storage-info {
    display: inline-block;
    color: #848794;
}
    .storage-info > p {
        display: inline-block;
        float: left;
        margin: 30px 0 0 0;
    }
    .storage-info > p > span {
        display: inline-block;
        color: #fff;
    }
/* Progress Bar */
.progress-bar {
    display: inline-block;
    background-color: #0c122c;
    border-radius: 15px;
    width: 610px;
    height: 10px;
}
.progress {
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 15px;
    width: 80%;
    height: 10px;
}
.circle {
    width: 10px;
    height: 10px;
    background-color: #fff; 
    clip-path: circle();
    float: right;
}
.scale {
    margin: 0 0 40px 0;
}
.scale > p {
    margin: 0;
}
/* Download left info block */
.left-info {
    display: grid;
    align-items: center;
    background-color: #fff;
    right: 80px;
    top: 0;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
}
.left-info > p > span {
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}
.left-info > p {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}
.left-info::before {
    content: "";
    background-color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    bottom: -15px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.empty {
    float: left;
    color: #fff;
}
.full {
    float: right;
    color: #fff;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 11px; 
    align-items: center;
    color: hsl(228, 45%, 44%);
}
